{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}


{% block body %}

    <section class="home">
        <div class="home-content">
            <h2>Welcome to <span class="span-title">UNLIMITE SHOOTER</span></h2>
            <p>Experience the thrill of endless shooting action with UNLIMITE SHOOTER! Test your skills, aim for high scores, and enjoy hours of fun in this exciting game.</p>
            <a href="/game" class="btn">Play Now</a>
        </div>
    
    </section>
    <hr>
    <section class="about">
        <div class="about-content">
            <h2>About <span class="span-title">UNLIMITE SHOOTER</span></h2>
            <div class="content">
                
                <div class="game-description">
                    <p>UNLIMITE SHOOTER is an action-packed shooting game that challenges players to shoot targets and achieve high scores. With simple controls and addictive gameplay, it's perfect for players of all ages.</p>
                    <p>Whether you're a casual gamer or a seasoned pro, UNLIMITE SHOOTER offers endless fun and excitement. So grab your virtual weapon and get ready to shoot your way to victory!</p>
                </div>
                <div class="game-image">
                    <img src="{{ url_for('static', filename='images/img.png') }}" alt="UNLIMITE SHOOTER Gameplay">
                </div>
            </div>
            <a href="/about" class="btn">Learn More</a>
        </div>
    </section>
    <hr>
    <section class="developer">
        <div class="developer-content">
            <h2>Meet the Developer: <span class="span-title">ISSAM SENSI</span></h2>
            <div class="content">
                <div class="developer-image">
                    <img src="{{ url_for('static', filename='images/pixel_sensi.png') }}" alt="ISSAM SENSI">
                </div>
                <div class="developer-description">
                    <p>ISSAM SENSI is the creative mind behind UNLIMITE SHOOTER. With a passion for game development and a knack for creating engaging experiences, ISSAM has crafted this game to provide endless entertainment for players worldwide.</p>
                    <p>When not coding, ISSAM enjoys exploring new technologies and pushing the boundaries of what's possible in game design. Connect with ISSAM to learn more about his work and future projects!</p>
                </div>
                
            </div>
            <a href="/developer" class="btn">Learn More</a>
        </div>
    </section>
    <hr>
    <section class="contact">
        <div class="contact-content">
            <h2>Contact Us</h2>
            <p>Have questions, feedback, or just want to say hello? We'd love to hear from you! Reach out to us through the following channels:</p>
            <div class="social-links">
                <a href="https://facebook.com/issamsensi"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com/issamsensi"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@issamsensi"><i class="fa-brands fa-tiktok"></i></a>
                <a href="www.linkedin.com/in/issam-amghar-406b3a228"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/issamsensi"><i class="fa-brands fa-github"></i></a>
                <a href="https://wa.me/+212658987985"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://youtube.com/@issamsensi?si=4ZpR37-s4ifInfwj"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/issamsensi"><i class="fa-brands fa-twitter"></i></a>
            </div>
            
        </div>
        <a href="/contact" class="btn">Get in Touch</a>
    </section>


    
    


{% endblock %}
